@using CarInsuranceApp.Models
@model List<InsuranceQuote>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shaddow">
        <div class="card-header text-center">
            <h5 class="m=0">Car Insurance Quotes</h5>
        </div>
        <div class="card-body">
            @foreach (var quote in Model)
            {

                <div class="row">
                    <div class="col">
                        @quote.firstName
                    </div>
                    <div class="col">
                        @quote.lastName
                    </div>
                    <div class="col">
                        @quote.emailAddress
                    </div>
                    <div class="col">
                        @quote.quoteTotal
                    </div>
                </div>
            }
        </div>
    </div>
</div>
