<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Premier Car Insurance Quote</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    <input name="firstName" type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="lastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="emailAddress" type="email" class="form-control" placeholder="Email Address" />
                </div>
                <div class="form-group col-md-12">
                    <input name="dateOfBirth" type="text" class="form-control" placeholder="Date of Birth" />
                </div>
                <div class="form-group col-md-12">
                    <input name="carYear" type="number" class="form-control" placeholder="Car Year" />
                </div>
                <div class="form-group col-md-12">
                    <input name="carMake" type="text" class="form-control" placeholder="Car Make" />
                </div>
                <div class="form-group col-md-12">
                    <input name="carModel" type="text" class="form-control" placeholder="Car Model" />
                </div>
                <div class="form-group col-md-12">
                    <input name="tickets" type="number" class="form-control" placeholder="How many speeding tickets do you have?" />
                </div>
                
                <div>

                    <p>What type of coverage do you want?</p>
                    <input type="radio" name="coverage" value="true"> full<br />
                    <input type="radio" name="coverage" value="false"> liability<br />

                    <p>Do you have a DUI?</p>
                    <input type="radio" name="dui" value="true"> Yes<br />
                    <input type="radio" name="dui" value="false"> No<br />

                    <p>Are you under 25 years old?</p>
                    <input type="radio" name="age1" value="true"> Yes<br>
                    <input type="radio" name="age1" value="false"> No<br>

                    <p>Are you under 18 years old?</p>
                    <input type="radio" name="age2" value="true"> Yes<br>
                    <input type="radio" name="age2" value="false"> No<br>

                    <p>Are you over 100 years old?</p>
                    <input type="radio" name="age3" value="true"> Yes<br>
                    <input type="radio" name="age3" value="false"> No<br>

                    <p>Was the vehicle manufactured before 2000?</p>
                    <input type="radio" name="carAge1" value="true"> Yes<br>
                    <input type="radio" name="carAge1" value="false"> No<br>

                    <p>Was the vehicle manufactured after 2015?</p>
                    <input type="radio" name="carAge2" value="true"> Yes<br>
                    <input type="radio" name="carAge2" value="false"> No<br>

                    
                </div>

          

                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
            }
        </div>
    </div>
</div>